<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>OCFR</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="index.html"><img src="images/logo.png" width="50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="members.html">Members<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="certifications.html">Certifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="reports.html">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="users.html">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html">Login</a>
      </li>
  </div>
</nav>
  <div class="open">
  <h1>OCFR Certifications Page</h1>
</div>
<br>
  <div class="container">
  <div class="row" id="phppage">

    <div class="col">
      <h3>Certifications</h3>
      <br>
      <div class="row">
      <table class="table" id="highlighttable">
          <thead class = "thead-dark" >
          <tr>
          <th scope="col">ID</th>
          <th scope="col">Agency</th>
          <th scope="col">Name</th>
          <th scope="col">Expiration Period</th>
        </tr>
        </thead>
          <tbody>
          <tr v-for="ct in certificationList" v-on:click="activeCertification = ct; storeItem();">
            <th scope="row" role="rowheader">{{ ct.CertificationID }}</th>
              <td role="gridcell">{{ ct.Agency }}</td>
              <td role="gridcell">{{ ct.Name }}</td>
              <td role="gridcell">{{ ct.ExpirationPeriod }}</td>
            </table>
            <form action="editcertification.html">
              <button type="submit" :disabled="Object.keys(activeCertification).length === 0" class="btn btn-secondary"><b>Edit Certification</b></button>
            </form>
            <form v-on:submit.prevent="deleteCredential()"><button type="submit" :disabled="Object.keys(activeCertification).length === 0" class="btn btn-secondary"><b>Remove Certification</b></button></form>
          </div>
        </div>
            <div class="col">
           <form method="post" v-on:submit.prevent="createCredential">
            <h3>Add Certification</h3>
            <br>
            <div class="form-group">
            <label for="newcredentialAgency">Agency</label>
            <input type="text" v-model="newcredentialForm.Agency" class="form-control" id="newcredentialAgency" placeholder="Specify Certifying Agency">
          </div>
          <div class="form-group">
            <label for="newcredentialName">Name</label>
            <input type="text" v-model="newcredentialForm.Name" class="form-control" id="newcredentialName" placeholder="First & Last Name">
          </div>
          <div class="form-group">
            <label for="newcredentialPeriod">Expiration Period</label>
            <input type="text" v-model="newcredentialForm.ExpirationPeriod" class="form-control" id="newcredentialPeriod" placeholder="Number of Years (i.e. 5)">
          </div>
          <button type="submit" class="btn btn-primary"><b>Add Certification</b></button>
          </form>
        </div>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
    <script src="js/highlightTable.js"></script>
  </body>
</html>
