<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>OCFR</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="index.html">OCFR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="members.html">Members<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="certifications.html">Certifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="reports.html">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html">Login</a>
      </li>
  </div>
</nav>
  </header>
  <div class="open">
  <h1>OCFR Members Page</h1>
</div>
  <div class="container">
  <div class="row">
    <div class="col-sm" id="out">
      <h3>  Remove Member </h3>
      <form>
      <div class="form-group">
        <label for="newmemberName">Member Name</label>
        <select class="form-control" v-model="newmemberForm.Name" id="newmemberName">
          <option value="name1">Harris, John</option>
          <option value="name2">Reign, Carla</option>
          <option value="name3">Nicks, Stevie</option>
          <option value="name4">Greenburg, Gerald</option>
          <option value="name5">Hernandez, Pacho</option>
        </select>
      </div>
      <button type="submit" class="btn btn-secondary">Remove Member</button>
      </form>
    </div>
    <div class="col-xl-" id="middle">
      <br>
      <table class="table">
          <thead class = "thead-dark" >
          <tr>
          <th scope="col">ID</th>
          <th scope="col">LastName</th>
          <th scope="col">FirstName</th>
          <th scope="col">Radio #</th>
          <th scope="col">Station #</th>
          <th scope="col">Position</th>
        </tr>
        </thead>
          <tbody>
          <tr role="row">
            <th scope="row" role="rowheader">1</th>
              <td role="gridcell">Harris</td>
              <td role="gridcell">John</td>
              <td role="gridcell">12</td>
              <td role="gridcell">3</td>
              <td role="gridcell">Chief</td>
          </tr>
          <tr role="row">
            <th scope="row" role="rowheader">2</th>
              <td role="gridcell">Reign</td>
              <td role="gridcell">Carla</td>
              <td role="gridcell">11</td>
              <td role="gridcell">2</td>
              <td role="gridcell">Leiutenant</td>
          </tr>
          <tr role="row">
            <th scope="row" role="rowheader">3</th>
              <td role="gridcell">Nicks</td>
              <td role="gridcell">Stevie</td>
              <td role="gridcell">5</td>
              <td role="gridcell">4</td>
              <td role="gridcell">Deputy Chief</td>
          </tr>
          <tr role="row">
            <th scope="row" role="rowheader">4</th>
              <td role="gridcell">Greenburg</td>
              <td role="gridcell">Gerald</td>
              <td role="gridcell">2</td>
              <td role="gridcell">5</td>
              <td role="gridcell">Private</td>
          </tr>
          <tr role="row">
            <th scope="row" role="rowheader">5</th>
              <td role="gridcell">Hernandez</td>
              <td role="gridcell">Pacho</td>
              <td role="gridcell">9</td>
              <td role="gridcell">1</td>
              <td role="gridcell">Chief of Fire</td>
          </tr>
        </div>
        </table>
        <form>
        <button type="submit" class="btn btn-secondary">Edit Member</button>
      </form>
    </div>
    <div class="col-sm" id="out">
    <div class="container-fluid">
      <div class="row" id="triagePage">
        <div id="cardPaneRight" class="col cardPane cardPaneRight">
          <form method="post" v-on:submit.prevent="handleNewPtForm">
            <h3>  Add Member </h3>

            <div class="form-group">
            <label for="newmemberFirstName">First Name</label>
            <input type="text" v-model="newmemberForm.firstName" class="form-control" id="newmemberFirstName" placeholder="Jane">
          </div>
          <div class="form-group">
            <label for="newmemberLastName">Last Name</label>
            <input type="text" v-model="newmemberForm.lastName" class="form-control" id="newmemberLastName" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="newmemberDob">DOB</label>
            <input type="text" v-model="newmemberForm.dob" class="form-control" id="newmemberDob" placeholder="2020-01-02">
          </div>
          <button type="submit" class="btn btn-primary">Add Member</button>
          </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
