<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>OCFR</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="index.html"><img src="images/logo.png" width="50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="members.html">Members<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="certifications.html">Certifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="reports.html">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="users.html">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html">Login</a>
      </li>
  </div>
</nav>
  </header>
  <div class="open">
  <h1>CFR Users Page</h1>
</div>
  <div class="container">
  <div class="row">
    <div class="col-sm" id="out">
      <h3> <u> Remove User </u></h3>
      <form>
      <div class="form-group">
        <label for="newuserUsername">Username</label>
        <select class="form-control" v-model="newuserForm.Username" id="newmemberName">
          <option value="name1">jharris@email.com</option>
          <option value="name2">creign@yahoo.com</option>
          <option value="name3">stevie.nicks@gmail.com</option>
          <option value="name4">ggburg@hotmail.com</option>
          <option value="name5">pachorules@aol.com</option>
        </select>
      </div>
      <button type="submit" class="btn btn-secondary">Remove User</button>
      </form>
    </div>
    <div class="col-xl-" id="middle">
      <br>
      <table class="table">
          <thead class = "thead-dark" >
          <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
        </tr>
        </thead>
          <tbody>
          <tr role="row">
            <th scope="row" role="rowheader">1</th>
              <td role="gridcell">jharris@email.com</td>
              <td role="gridcell">JohnIsCool</td>

          </tr>
          <tr role="row">
            <th scope="row" role="rowheader">2</th>
              <td role="gridcell">creign@yahoo.com</td>
              <td role="gridcell">FluffyIsMyCatsName</td>

          </tr>
          <tr role="row">
            <th scope="row" role="rowheader">3</th>
              <td role="gridcell">stevie.nicks@gmail.com</td>
              <td role="gridcell">Rhianna!</td>

          </tr>
          <tr role="row">
            <th scope="row" role="rowheader">4</th>
              <td role="gridcell">ggburg@hotmail.com</td>
              <td role="gridcell">12345</td>

          </tr>
          <tr role="row">
            <th scope="row" role="rowheader">5</th>
              <td role="gridcell">pachorules@aol.com</td>
              <td role="gridcell">p/q2-q4!</td>

          </tr>
        </div>
        </table>
        <form>
        <button type="submit" class="btn btn-secondary">Edit User</button>
      </form>
    </div>
    <div class="col-sm" id="out">
    <div class="container-fluid">
      <div class="row" id="triagePage">
        <div id="cardPaneRight" class="col cardPane cardPaneRight">
          <form method="post" v-on:submit.prevent="handleNewPtForm">
            <h3><u> Add User </u></h3>

            <div class="form-group">
            <label for="newuserUsername">Username (Email)</label>
            <input type="text" v-model="newuserForm.Username" class="form-control" id="newuserUsername" placeholder="example@email.com">
          </div>
          <div class="form-group">
            <label for="newuserPassword">Password</label>
            <input type="text" v-model="newuserForm.Password" class="form-control" id="newuserPassword" placeholder="********">
          </div>
          <button type="submit" class="btn btn-secondary"><b>Add User</b></button>
          </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
